[submodule "themes/hugo-theme-relearn"]
	path = themes/relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
[submodule "scripts_hugo"]
	path = scripts_hugo
	url = git@github.com:Weichwerke-Heidrich-Software/scripts_hugo.git
