/* Define the new custom font */
@font-face {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-display: swap;
  src: url('../../webfonts/Cormorant-Regular.woff2') format('woff2');
}

:root {
  --MAIN-font: 'Cormorant', serif;
}

h1 {
  font-family: var(--MAIN-font);
  font-weight: bold;
  text-transform: none;
}

.logo-title {
  font-family: var(--MAIN-font);
  font-weight: bold;
}

code {
  line-height: 1.4;
}
