/* Define the new custom font */
@font-face {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../webfonts/Cormorant-Regular.woff2') format('woff2');
}

:root {
  --MAIN-font: 'Cormorant', serif;
}