{{ $name := .Get 0 }}
{{ $base := printf "snippets/%s" $name }}

{{ $inVal    := readFile (printf "layouts/partials/%s.in"    $base) }}
{{ $shortPath := printf "layouts/partials/%s.short" $base }}
{{ $outVal   := readFile (printf "layouts/partials/%s.out"   $base) }}

<div class="tab-nav">
    {{ if fileExists $shortPath }}
    <span class="tab-nav-text" style="font-size: 90%;">Input (long variant)</span>
    {{ else }}
    <span class="tab-nav-text" style="font-size: 90%;">Input</span>
    {{ end }}
</div>
<div class="tab-content-container">
    <div data-tab-item="output" class="tab-content tab-panel-style cstyle active code codify">
        <div class="tab-content-text">
            <div class="highlight wrap-code" dir="auto">
                <pre tabindex="0" class="pre-code"><code>{{ $inVal }}</code></pre>
            </div>
        </div>
    </div>
</div>

{{ if fileExists $shortPath }}
    {{ $shortVal := readFile $shortPath }}
<div class="tab-nav">
    <span class="tab-nav-text" style="font-size: 90%;">Input (short variant)</span>
</div>
<div class="tab-content-container">
    <div data-tab-item="output" class="tab-content tab-panel-style cstyle active code codify">
        <div class="tab-content-text">
            <div class="highlight wrap-code" dir="auto">
                <pre tabindex="0" class="pre-code"><code>{{ $shortVal }}</code></pre>
            </div>
        </div>
    </div>
</div>
{{ end }}

<div class="tab-nav">
    <span class="tab-nav-text" style="font-size: 90%;">Output</span>
</div>
<div class="tab-content-container">
    <div data-tab-item="output" class="tab-content tab-panel-style cstyle active code codify">
        <div class="tab-content-text">
            <div class="highlight" dir="auto">
                <pre tabindex="0" class="pre-code"><code>{{ $outVal }}</code></pre>
            </div>
        </div>
    </div>
</div>
