{{ $name := .Get 0 }}
{{ $base := printf "data/snippets/%s" $name }}

{{ $inVal    := readFile (printf "%s.in"    $base) }}
{{ $shortPath := printf "%s.short" $base }}
{{ $outPath := printf "%s.out"  $base }}

<div class="tab-nav">
    {{ if fileExists $shortPath }}
    <span class="tab-nav-text" style="font-size: 90%;">{{ i18n "input_long" }}</span>
    {{ else }}
    <span class="tab-nav-text" style="font-size: 90%;">{{ i18n "input" }}</span>
    {{ end }}
</div>
<div class="tab-content-container">
    <div data-tab-item="output" class="tab-content tab-panel-style cstyle active code codify">
        <div class="tab-content-text">
            <div class="highlight wrap-code" dir="auto">
                <pre tabindex="0" class="pre-code"><code>{{ $inVal }}</code></pre>
            </div>
        </div>
    </div>
</div>

{{ if fileExists $shortPath }}
    {{ $shortVal := readFile $shortPath }}
<div class="tab-nav">
    <span class="tab-nav-text" style="font-size: 90%;">{{ i18n "input_short" }}</span>
</div>
<div class="tab-content-container">
    <div data-tab-item="output" class="tab-content tab-panel-style cstyle active code codify">
        <div class="tab-content-text">
            <div class="highlight wrap-code" dir="auto">
                <pre tabindex="0" class="pre-code"><code>{{ $shortVal }}</code></pre>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ if fileExists $outPath }}
    {{ $outVal := readFile $outPath }}
<div class="tab-nav">
    <span class="tab-nav-text" style="font-size: 90%;">{{ i18n "output" }}</span>
</div>
<div class="tab-content-container">
    <div data-tab-item="output" class="tab-content tab-panel-style cstyle active code codify">
        <div class="tab-content-text">
            <div class="highlight" dir="auto">
                <pre tabindex="0" class="pre-code"><code>{{ $outVal }}</code></pre>
            </div>
        </div>
    </div>
</div>
{{ end }}
